<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome_team, class:"form-label" %>
    <%= form.text_field :nome_team, class:"form-control", style:"max-width: 400px;", required: true %>
  </div>

  <!-- Creating the queries needed -->
  <% selected_users = [ current_user.uid ] %>
  <% selected_users << params[:team][:giocatore2] if params[:team] && params[:team][:giocatore2] %>
  <% selected_users << params[:team][:giocatore3] if params[:team] && params[:team][:giocatore3] %>
  <% selected_users << params[:team][:giocatore4] if params[:team] && params[:team][:giocatore4] %>

  <% selectable_users = User.where.not(uid: selected_users) %>
  
  <div class="field">
    <%= form.label :"Team Leader", class:"form-label" %>
      <%= form.text_field :giocatore1, value: current_user.uid, class:"form-control", readonly: true, style:"max-width: 400px;" %>
  </div>

  <div class="field">
    <%= form.label :"giocatore 2", class:"form-label" %>
    <%# form.text_field :giocatore2, class:"form-control", style:"max-width: 400px;" %>
    <%= form.collection_select :giocatore2, selectable_users, :uid, :uid %>
  </div>

  <div class="field">
    <%= form.label :"giocatore 3", class:"form-label" %>
    <%= form.collection_select :giocatore3, selectable_users, :uid, :uid %>
  </div>

  <div class="field">
    <%= form.label :"giocatore 4", class:"form-label" %>
    <%= form.collection_select :giocatore4, selectable_users, :uid, :uid %>
  </div>
  
  <div class="container" style="display: flex; justify-content: center;">
    <div class="actions">
      <%= form.submit "submit", class:"btn btn-dark"%>
    </div>
  </div>
<% end %>
