<!--<p id="notice"><%= notice %></p>-->

<h1>Teams</h1>

<table class="table table-dark table-striped-columns">
  <thead>
    <tr>
      <th scope="col">Nome team</th>
      <th scope="col">Team Leader</th>
      <th scope="col">Giocatore 2</th>
      <th scope="col">Giocatore 3</th>
      <th scope="col">Giocatore 4</th>
      <th colspan="3" scope="col">Azioni</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <% @teams.each do |team| %>
      <% if current_user.playerid == team.giocatore1 %>
        <tr class="table-light">
          <td><%= team.nome_team %></td>
          <td><%= team.giocatore1 %></td>
          <td><%= team.giocatore2 %></td>
          <td><%= team.giocatore3 %></td>
          <td><%= team.giocatore4 %></td>
          <td><%= link_to 'Show', team, class:"link-success link-offset-2" %></td>
          <td><%= link_to 'Edit', edit_team_path(team), class:"link-warning link-offset-2" %></td>
          <td><%= link_to 'Destroy', destroy_team_path(team), method: :delete, data: { confirm: 'Are you sure?' }, class:"link-danger link-offset-2" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path, class:"link-body-emphasis link-offset-2" %>
