<p id="notice"><%= notice %></p>

<p>
  <strong>Nome team:</strong>
  <%= @team.nome_team %>
</p>

<p>
  <strong>Giocatore1:</strong>
  <%= @team.giocatore1 %>
</p>

<p>
  <strong>Giocatore2:</strong>
  <%= @team.giocatore2 %>
</p>

<p>
  <strong>Giocatore3:</strong>
  <%= @team.giocatore3 %>
</p>

<p>
  <strong>Giocatore4:</strong>
  <%= @team.giocatore4 %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
