<% if current_user != nil %>
  <% if current_user.teamLeader? || current_user.teamLeaderAbbonato? %>
    <!--<p id="notice"><%= notice %></p>-->
    <div class="container" style="background-color: #ffffffd8; padding-top:12px; padding-bottom:12px; width:20vw; text-align:center;">
      <p>
        <strong>Nome team:</strong>
        <%= @team.nome_team %>
      </p>

      <p>
        <strong>Team Leader:</strong>
        <%= @team.giocatore1 %>
      </p>

      <p>
        <strong>Giocatore 2:</strong>
        <%= @team.giocatore2 %>
      </p>

      <p>
        <strong>Giocatore 3:</strong>
        <%= @team.giocatore3 %>
      </p>

      <p>
        <strong>Giocatore 4:</strong>
        <%= @team.giocatore4 %>
      </p>
      <br>
      <%= link_to 'Edit', edit_team_path(@team), class:"link-body-emphasis link-offset-2" %> |
      <%= link_to 'Back', teams_path, class:"link-body-emphasis link-offset-2" %>
    </div>
  <% else %>
    <div class="container" style="justify:center; text-align:center; font-size: 2.7vw; background-color:#ffffffb3; color:red">
      Per poter accedere a questa pagina devi essere un team leader
    </div>
  <% end %>
<% else %>
  <div class="container" style="justify:center; text-align:center; font-size: 2.7vw; background-color:#ffffffb3; color:red">
    Per poter accedere a questa pagina devi effettuare prima il login
  </div>
<% end %>
