<div class="container" style="background-color: #ffffffc8; padding-top:12px; padding-bottom:12px; width:30vw;  position:absolute; top:15wh; left:7vw;">
<h2> Aggiungi amministratori </h2>
  <%= form_with(model: @admin, url: admins_path) do |f| %>
    <div class="field">
      <%= f.label :email, class:"form-label" %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", style:"max-width: 400px;", required: true %>
    </div>

    <div class="field">
      <%= f.label :password, class:"form-label" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control", style:"max-width: 400px;", required: true %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class:"form-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", style:"max-width: 400px;", required: true %>
    </div>
    <br/>
    <div class="actions">
      <%= f.submit "Aggiungi", class:"btn btn-dark" %>
    </div>
    <br>
  <% end %>
</div>