<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @team_stat.team_id %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @team_stat.uid %>
</p>

<p>
  <strong>Terranwins:</strong>
  <%= @team_stat.terranwins %>
</p>

<p>
  <strong>Protosswins:</strong>
  <%= @team_stat.protosswins %>
</p>

<p>
  <strong>Zergwins:</strong>
  <%= @team_stat.zergwins %>
</p>

<p>
  <strong>Careertotalgames:</strong>
  <%= @team_stat.careertotalgames %>
</p>

<p>
  <strong>Totalwins:</strong>
  <%= @team_stat.totalwins %>
</p>

<p>
  <strong>Totallosses:</strong>
  <%= @team_stat.totallosses %>
</p>

<p>
  <strong>Wlratio:</strong>
  <%= @team_stat.wlratio %>
</p>

<p>
  <strong>Level:</strong>
  <%= @team_stat.level %>
</p>

<p>
  <strong>Levelterran:</strong>
  <%= @team_stat.levelterran %>
</p>

<p>
  <strong>Totallevelxpterran:</strong>
  <%= @team_stat.totallevelxpterran %>
</p>

<p>
  <strong>Currentlevelxpterran:</strong>
  <%= @team_stat.currentlevelxpterran %>
</p>

<p>
  <strong>Levelzerg:</strong>
  <%= @team_stat.levelzerg %>
</p>

<p>
  <strong>Totallevelxpzerg:</strong>
  <%= @team_stat.totallevelxpzerg %>
</p>

<p>
  <strong>Currentlevelxpzerg:</strong>
  <%= @team_stat.currentlevelxpzerg %>
</p>

<p>
  <strong>Levelprotoss:</strong>
  <%= @team_stat.levelprotoss %>
</p>

<p>
  <strong>Totallevelxpprotoss:</strong>
  <%= @team_stat.totallevelxpprotoss %>
</p>

<p>
  <strong>Currentlevelxpprotoss:</strong>
  <%= @team_stat.currentlevelxpprotoss %>
</p>

<p>
  <strong>Wins1vs1:</strong>
  <%= @team_stat.wins1vs1 %>
</p>

<p>
  <strong>Games1vs1:</strong>
  <%= @team_stat.games1vs1 %>
</p>

<p>
  <strong>Wins2vs2:</strong>
  <%= @team_stat.wins2vs2 %>
</p>

<p>
  <strong>Games2vs2:</strong>
  <%= @team_stat.games2vs2 %>
</p>

<p>
  <strong>Wins3vs3:</strong>
  <%= @team_stat.wins3vs3 %>
</p>

<p>
  <strong>Games3vs3:</strong>
  <%= @team_stat.games3vs3 %>
</p>

<p>
  <strong>Wins4vs4:</strong>
  <%= @team_stat.wins4vs4 %>
</p>

<p>
  <strong>Games4vs4:</strong>
  <%= @team_stat.games4vs4 %>
</p>

<p>
  <strong>Winsarchon:</strong>
  <%= @team_stat.winsarchon %>
</p>

<p>
  <strong>Gamesarchon:</strong>
  <%= @team_stat.gamesarchon %>
</p>

<p>
  <strong>Totalpointsachievements:</strong>
  <%= @team_stat.totalpointsachievements %>
</p>

<p>
  <strong>Seasontotalgames:</strong>
  <%= @team_stat.seasontotalgames %>
</p>

<p>
  <strong>Totalgamesthisseason:</strong>
  <%= @team_stat.totalgamesthisseason %>
</p>

<%= link_to 'Edit', edit_team_stat_path(@team_stat) %> |
<%= link_to 'Back', team_stats_path %>
