<div class="card text-center" style="background-color: #ffffffb3;">
  <div class="card-header"> LISTA UTENTI </div>
  <div class="card-body">
    <table class="table table-dark table-striped-columns">
      <thead>
        <tr>
          <th scope="col">NICKNAME</th>
          <th scope="col">EMAIL</th>
          <th scope="col">ABBONAMENTO</th>
          <th scope="col">REGALA ABBONAMENTO</th>
          <th scope="col">ELIMINA UTENTE</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% @savedusers.each do |user| %>
          <tr class="table-light">
            <th scope="row"> <%= user.nickname %> </th>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            
            <!-- Disabling sub gifting if the user is already subbed -->
            <td> <div class="form-label">
            <% if user.teamLeader? || user.user? %>
              <%= button_to "Gift subscription", gift_admin_path(id: user.id), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :post, class:"btn btn-danger" %>
            <% else %>
              <%= button_to "Gift subscription", gift_admin_path(id: user.id), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :post, class:"btn btn-danger", disabled:true %>
            <% end %>
            </div> </td>

            <td> <div class="form-label"> <%= button_to "Delete user", delete_user_admin_path(id: user.id), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger"%></div> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="card text-center" style="background-color: #ffffffb3;">
  <div class="card-header">
      LISTA TEAM
  </div>
  <div class="card-body">
    <table class="table table-dark table-striped-columns">
      <thead>
        <tr>
          <th scope="col">NOME TEAM</th>
          <th scope="col">LISTA COMPONENTI</th>
          <th scope="col">ELIMINA TEAM</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% @savedteams.each do |team| %>
          <tr class="table-light">
            <th scope="row"> <%= team.nome_team %> </th>
            <td>
              <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: center">
                <div style="display: flex; flex-direction: column; flex-wrap: wrap; align-items: center"> 
                  <div>
                    <% if team.giocatore1 != "" %>
                      <%=team.giocatore1%>
                    <%end%>
                    <% if team.giocatore2 != "" %>
                      &nbsp&nbsp&nbsp&nbsp<%=team.giocatore2%>
                    <%end%>
                    <% if team.giocatore3 != "" %>
                      &nbsp&nbsp&nbsp&nbsp<%=team.giocatore3%>
                    <%end%>
                    <% if team.giocatore4 != "" %>
                      &nbsp&nbsp&nbsp&nbsp<%=team.giocatore4%>
                    <%end%>
                  </div>
                </div>
              </div>
            </td>
            <td> <div class="form-label"> <%= button_to "Delete team", delete_team_admin_path(id: team.id), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger"%></div> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<!-- TODO: Continue here -->
<div class="card text-center" style="background-color: #ffffffb3;">
  <%= form_for(@notification, url: adminnotification_path(current_admin.id), html: { method: :post }) do |f| %>

    <div class="card-header"> INVIA COMUNICAZIONE </div>

    <div class="card-body" style="display: flex; justify-content: center;">
      <%= f.label :testo, class:"form-label" %>&nbsp&nbsp&nbsp
      <%= f.text_area :body, required: true, class: "form-control", style:"max-width:500px" %>
    </div>

    <div class="card-body">
      <%= f.label :to, class:"form-label" %>&nbsp&nbsp&nbsp

      <!-- Creating the queries needed -->
      <% merged_collection = [CustomNotification.new(Notification::DEFAULT_CASES[:toall], 'All', false), CustomNotification.new(Notification::DEFAULT_CASES[:toadmins], 'All Admins', false)] %>
      <%
        Admin.where.not(id: current_admin.id).each do |admin|
          merged_collection.append(CustomNotification.new(admin.id, admin.email, false))
        end

        User.all.each do |user|
          merged_collection.append(CustomNotification.new(user.id, user.email, true))
        end
      %>

      <%= f.collection_select :to, merged_collection, ->(item) { "#{item.id}|#{item.toUser}" }, :email %>
    </div>

    <div class="actions">
      <%= f.submit "Invia comunicazione", class: "btn btn-dark" %>
    </div>
    <br>
  <% end %>
</div>
<br>
<div class="container" style="display: flex; justify-content: center;">
  <% if Maintenance.find_by(to: nil).equal? nil %>
    <%= button_to "Inizia la manutenzione", start_maintenance_path(), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :post, class: "btn btn-danger"%>
  <% else %>
    <%= button_to "Interrompi la manutenzione", stop_maintenance_path(), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :post, class: "btn btn-danger"%>
  <% end %>
</div>