<%soglia_vittorie = 0%>
<%soglia_achievements = 0%>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <%= link_to 'GamerStats', root_path, class:"navbar-brand"%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <% if user_signed_in?%>
                    <% utente = Stat.find_by(uid: current_user.uid)%>
                    <% 
                        if utente != nil
                            achivements = utente.totalPointsAchievements
                            wins = utente.totalWins
                        else
                            achivements = 0
                            wins = 0
                        end
                    %>
                    <li class="nav-item">
                        <%= link_to 'Logout', destroy_user_session_path, method: :get, class:"nav-link link-light"%>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Edit Profile', edit_user_registration_path, class:"nav-link link-light"%>    
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Personal', personstats_path, class:"nav-link link-light"%>    
                    </li>
                    <li style="display: flex; color:white; justify-content: center; width: 50vw; flex-direction: row;" class="navbar-brand " >Ciao <%=current_user.nickname%></li>
                    <li class="nav-item position-absolute end-0" style="border: solid 1px white; color: white; padding: 6px; border-radius: 5px; margin-right:390px; min-width:60px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
                            <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z"/>
                        </svg>
                        &nbsp <%= achivements %>
                    </li>
                    <li class="nav-item position-absolute end-0" style="border: solid 1px white; color: white; padding: 6px; border-radius: 5px; margin-right:310px; min-width:60px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trophy" viewBox="0 0 16 16">
                            <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
                        </svg>
                        &nbsp <%= wins %>
                    </li>
                    <% if current_user.user? %>
                        <li class="nav-item">
                            <%= form_for @user=current_user, url: update_role_home_path(current_user, role: "abbonato"), method: :patch do |f| %>
                                <% if achivements >= soglia_achievements %>
                                    <%= f.submit "Abbonati", class: "btn btn-light position-absolute end-0", style:"margin-right:200px"%>
                                <% else %>
                                    <%= f.submit "Abbonati", class: "btn btn-light position-absolute end-0 ", style:"margin-right:200px", id:"bottoneAbbonati", title:"devi aver accumulato 100 achivements", disabled:true%>
                                <% end %>
                            <% end %>
                        </li>
                        <li class="nav-item">
                            <%= form_for @user=current_user, url: update_role_home_path(current_user, role: "teamLeader"), method: :patch do |f| %>
                                <% if wins >= soglia_vittorie %>
                                    <%= f.submit "Diventa Team Leader", class: "btn btn-light position-absolute end-0", style:"margin-right:10px"%>
                                <% else %>
                                    <%= f.submit "Diventa Team Leader", class: "btn btn-light position-absolute end-0 ", style:"margin-right:10px", id:"bottoneTeamLeader", title:"devi aver accumulato 50 vittorie", disabled:true%>
                                <% end %>
                            <% end %>
                        </li>
                        
                    <% end %>
                    <% if current_user.teamLeader? %>
                        <li class="nav-item">
                            <%= form_for @user=current_user, url: update_role_home_path(current_user, role: "teamLeaderAbbonato"), method: :patch do |f| %>
                                <% if achivements >= soglia_achievements %>
                                    <%= f.submit "Abbonati", class: "btn btn-light position-absolute end-0", style:"margin-right:200px"%>
                                <% else %>
                                    <%= f.submit "Abbonati", class: "btn btn-light position-absolute end-0 ", style:"margin-right:200px", id:"bottoneAbbonati", title:"devi aver accumulato 100 achivements", disabled:true%>
                                <% end %>
                            <% end %>
                        </li>
                    <% end %>
                    <% if current_user.abbonato? %>
                        <li class="nav-item">
                            <%= form_for @user=current_user, url: update_role_home_path(current_user, role: "teamLeaderAbbonato"), method: :patch do |f| %>
                                <% if wins >= soglia_vittorie %>
                                    <%= f.submit "Diventa Team Leader", class: "btn btn-light position-absolute end-0", style:"margin-right:10px"%>
                                <% else %>
                                    <%= f.submit "Diventa Team Leader", class: "btn btn-light position-absolute end-0", style:"margin-right:10px", id:"bottoneTeamLeader", title:"devi aver accumulato 50 vittorie", disabled:true%>
                                <% end %>
                            <% end %>
                        </li>
                    <% end %>
                <% elsif admin_signed_in? %>
                    <li class="nav-item">
                        <%= link_to 'Logout', destroy_admin_session_path, method: :get, class:"nav-link link-light"%>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Edit Profile', edit_admin_registration_path, class:"nav-link link-light"%>    
                    </li>
                    <li style="display: flex; color:white; justify-content: center; width: 50vw; flex-direction: row;" class="navbar-brand " >Ciao <%=current_admin.full_name%> </li>
                    <li class="nav-item">
                        <!-- TODO: Change placeholder -->
                        <%= link_to 'Placeholder (Account)', adminpage_path, class:"nav-link link-light"%>    
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to 'Registrati', new_user_registration_path, class:"nav-link link-light"%>   
                    </li>   
                    <div class="dropdown">
                        <a class="btn btn-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Login </a>
                        <ul class="dropdown-menu">
                            <li> <%= link_to 'Login utente', new_user_session_path, class:"dropdown-item"%> </li>
                            <li> <%= link_to 'Login amministratore', new_admin_session_path, class:"dropdown-item"%> </li>
                        </ul>
                    </div>
                <% end %>
            </ul>
        </div>
    </div>
</nav>