<div id="loadingScreen" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99; background-color: rgba(0, 0, 0, 0.5); backdrop-filter: blur(5px); align-items:center; justify-content:center;">
    <div id="contentLoadingScreen" style="background-color: #1b1b1b; width:350px; text-align:center; color:white; font-size:16px">
        <img id="imgLoading" src="assets/loadingPiccola.gif" alt="Stiamo contattanto i server di Battlenet per ottenere i dati" style="vertical-align: center">
    </div>
</div>

<div class="card text-center" style="background-color: #ffffffb3;">
  <div class="card-header">
      STATISTICHE GENERALI DEL GIOCO
  </div>
  <div class="card-body" id="tableContainer">
    <table class="table table-dark table-striped-columns" id="tableContainer">
      <thead>
        <tr>
          <% 
            careertotalgames = Stat.average(:careerTotalGames)
            wlratio = Stat.average(:wlRatio)
            level = Stat.average(:level)
            totalpointsachievements = Stat.average(:totalPointsAchievements)

            totalwins = Stat.average(:totalwins)
            terranwins = Stat.average(:terranWins)
            protosswins = Stat.average(:protossWins)
            zergwins = Stat.average(:zergWins)

            levelterran = Stat.average(:levelTerran)
            xpterran = Stat.average(:totalLevelXPTerran)
            levelzerg = Stat.average(:levelZerg)
            xpzerg = Stat.average(:totalLevelXPZerg)
            levelprotoss = Stat.average(:levelProtoss)
            xpprotoss = Stat.average(:totalLevelXPProtoss)
          
          %>
          <th scope="col">Games</th>
          <th scope="col">Total wins</th>
          <th scope="col">W/L</th>
          <th scope="col">Achievements</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr class="table-light">
          <td><%= careertotalgames %></td>
          <td><%= totalwins %></td>
          <td><%= wlratio %></td>
          <td><%= totalpointsachievements %></td>
        </tr>
      </tbody>
    </table>

    <br><br>

    <div class="container text-center">
      <div class="row">
        <div class="col">
            <table class="table table-dark table-striped-columns" id="tableContainer">
                <thead>
                    <tr>
                    <th scope="col">Terran wins</th>
                    <th scope="col">Protoss wins</th>
                    <th scope="col">Zerg wins</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="table-light">
                    <td><%= terranwins %></td>
                    <td><%= protosswins %></td>
                    <td><%= zergwins %></td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>

    <br><br>

    <div class="container text-center">
      <div class="row">
        <div class="col">
            <table class="table table-dark table-striped-columns" id="tableContainer">
                <thead>
                    <tr>
                    <th scope="col">Wins</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="table-light">
                    <td class="d-flex justify-content-center"><%= pie_chart [['Protoss wins', protosswins],['Zerg wins', zergwins],['Terran wins', terranwins]], legend: 'bottom', height: '350px', width: '550px', library: { backgroundColor: 'transparent' } %></td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>

    <br><br>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <table class="table table-dark table-striped-columns" id="tableContainer">
        <thead>
          <tr>
            <th scope="col">Level</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr class="table-light">
            <td><%= level %></td>
          </tr>
        </tbody>
      </table>
        </div>
      </div>
    </div>

    <br><br>

    <div class="container text-center">
      <div class="row">
        <div class="col">
          <table class="table table-dark table-striped-columns" id="tableContainer">
                <thead>
                    <tr>
                    <th scope="col">Level terran</th>
                    <th scope="col">XP terran</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="table-light">
                    <td><%= levelterran %></td>
                    <td><%= xpterran %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-dark table-striped-columns" id="tableContainer">
                <thead>
                    <tr>
                    <th scope="col">Level zerg</th>
                    <th scope="col">XP zerg</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="table-light">
                    <td><%= levelzerg %></td>
                    <td><%= xpzerg %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-dark table-striped-columns" id="tableContainer">
                <thead>
                    <tr>
                    <th scope="col">Level protoss</th>
                    <th scope="col">XP protoss</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="table-light">
                    <td><%= levelprotoss %></td>
                    <td><%= xpprotoss %></td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>

    <br><br>

    <div class="container text-center">
      <div class="row">
        <div class="col">
            <table class="table table-dark table-striped-columns" id="tableContainer">
                <thead>
                    <tr>
                    <th scope="col">Levels</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="table-light">
                    <td><%= pie_chart [['Protoss level', levelprotoss],['Zerg level', levelzerg],['Terran level', levelterran]], legend: 'bottom', height: '350px', width: '550px', library: { backgroundColor: 'transparent' } %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-dark table-striped-columns" id="tableContainer">
                <thead>
                    <tr>
                    <th scope="col">XP</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="table-light">
                    <td><%= pie_chart [['Protoss xp', xpprotoss],['Zerg xp', xpzerg],['Terran xp', xpterran]], legend: 'bottom', height: '350px', width: '550px', library: { backgroundColor: 'transparent' } %></td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<% if current_user != nil%>
  <div class="card text-center" style="background-color: #ffffffb3;">
    <div class="card-header">
      CERCA UN GIOCATORE
    </div>
    <div class="card-body" id="tableContainer">
      <div class="container" style="display: flex; justify-content: center;">
        <!-- Creating the queries needed -->

        <% collection = User.where.not(uid: current_user.uid) %>
        <%= form_tag search_path, method: :get do %>
          <div class="row">
            <div class="col">
              <%= text_field_tag :user_uid, params[:user_uid], class: "form-control", style: "min-width: 250px;", list: "user-uid-list", placeholder: "Seleziona o inserisci un utente" %>
              <datalist id="user-uid-list">
                <% collection.each do |user| %>
                  <option value="<%= user.nickname %>"><%= user.uid%></option>
                <% end %>
              </datalist>
            </div>
            <div class="col">
              <%= submit_tag "Cerca", class: "btn btn-dark", onclick: "mostra(); event.preventDefault(); form.submit();" %>
            </div>
          </div>
        <% end %>

      </div>
      <% if @results.present? %>
        <br>
        <p style="font-size:1.5vw">Risultati della ricerca:</p>
        <br>
        <table class="table table-dark table-striped-columns" id="tableContainer">
          <thead>
            <tr>
            <% if current_user.abbonato? || current_user.teamLeaderAbbonato?%>
              <th scope="col">Nome </th>
              <th scope="col">UID </th>
              <th scope="col">Total Games </th>
              <th scope="col">W/L</th>
            <%else%>
              <th scope="col">Nome </th>
              <th scope="col">UID </th>
              <th scope="col">Current Season Total Games </th>
              <th scope="col">Current Season W/L</th>
            <%end%>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr class="table-light">
              <% if current_user.abbonato? || current_user.teamLeaderAbbonato?%>
                <td><%=@results.displayName%></td>
                <td><%=@results.uid%></td>
                <td><%=@results.careerTotalGames%></td>
                <td><%=@results.wlRatio%></td>
              <%else%>
                <td><%=@results.displayName%></td>
                <td><%=@results.uid%></td>
                <td><%=@results.seasonTotalGames%></td>
                <td><%=@results.wlRatioThisSeason%></td>
              <%end%>
            </tr>
          </tbody>
        </table>
      <% else %>
        <br>
        <p style="color:red; font-size:1.5vw">Non esiste un giocatore con questo UID </p>
      <% end %>
    </div>
  </div>
<%end%>

<script>
    function mostra(){
        document.getElementById("loadingScreen").style.display = "flex";
        window.location.href = "/personstats";
    }
</script>