<% if user_signed_in? || session[:uid] != nil %>
    <% if current_user.user? || current_user.teamLeader? %>
        <div class="card text-center" style="background-color: #ffffffb3;">
            <div class="card-header">
                STATISTICHE PERSONALI
            </div>
            <div class="card-body">
                <table class="table table-dark table-striped-columns">
                    <thead>
                        <tr>
                        <th scope="col">Total Games</th>
                        <th scope="col">wins 1vs1</th>
                        <th scope="col">wins 2vs2</th>
                        <th scope="col">wins 3vs3</th>
                        <th scope="col">wins 4vs4</th>
                        <th scope="col">Achievements</th>
                        </tr>
                    </thead>
                    <% BattlenetOauthService.ottieniProfilo(session[:access_token], session[:uid])%>
                    <% statistiche = Stat.find_by(uid: session[:uid]) %>
                    <% if statistiche!= nil%>
                        <tbody class="table-group-divider">
                            <tr class="table-light">
                            <td><%= statistiche.careerTotalGames %></td>
                            <td><%= statistiche.wins1vs1 %></td>
                            <td><%= statistiche.wins2vs2 %></td>
                            <td><%= statistiche.wins3vs3 %></td>
                            <td><%= statistiche.wins4vs4 %></td>
                            <td><%= statistiche.totalPointsAchievements %></td>
                            </tr>
                        </tbody>
                    <% else %>
                        <div class="alert alert-danger" role="alert">
                            L'utente non ha un account per questo gioco
                            <button type="button" class="btn-close position-absolute end-0" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <tbody class="table-group-divider">
                            <tr class="table-light">
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            </tr>
                        </tbody>
                    <% end %>
                </table>
            </div>
        </div>
        <br>
        <div class="container text-center" style="background-color: #ffffff00;">
            <div class="row">
                <div class="col">
                    <div class="card text-center" style="background-color: #ffffffb3;">
                        <div class="card-header">
                            STATISTICHE UTENTI
                        </div>
                        <div class="card-body">
                            <table class="table table-dark table-striped-columns">
                                <thead>
                                    <tr>
                                    <th scope="col">STATISTICA 1</th>
                                    <th scope="col">STATISTICA 2</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <tr class="table-light">
                                    <td>1</td>
                                    <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center" style="background-color: #ffffffb3;">
                        <div class="card-header">
                            CLASSIFICA TEAM
                        </div>
                        <div class="card-body">
                            <table class="table table-dark table-striped-columns">
                                <thead>
                                    <tr>
                                    <th scope="col">STATISTICA 1</th>
                                    <th scope="col">STATISTICA 2</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <tr class="table-light">
                                    <td>1</td>
                                    <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container" style="display: flex; justify-content: center;">
            <div class="card text-center" style="width: 50vw; background-color: #ffffffb3;">
                <div class="card-header">
                    TEAM DI CUI FAI PARTE
                </div>
                <div class="card-body">
                    <table class="table table-dark table-striped-columns">
                        <thead>
                            <tr>
                            <th scope="col">NOME TEAM</th>
                            <th scope="col" style="width: 25vw">VUOI ABBANDONARE IL TEAM ?</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr class="table-light">
                            <td>1</td>
                            <td style="width: 25vw"><button type="button" class="btn btn-danger">Abbandona</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
    <% end %>
    <% if current_user.abbonato? ||  current_user.teamLeaderAbbonato? %>
        <div class="card text-center" style="background-color: #ffffffb3;">
            <div class="card-header">
                STATISTICHE PERSONALI
            </div>
            <div class="card-body">
                <table class="table table-dark table-striped-columns">
                    <thead>
                        <tr>
                        <th scope="col">Total Games</th>
                        <th scope="col">Season Games</th>
                        <th scope="col">Highest 1v1 Rank</th>
                        <th scope="col">Terran wins</th>
                        <th scope="col">XP Terran</th>
                        <th scope="col">Protoss wins</th>
                        <th scope="col">XP Protoss</th>
                        <th scope="col">Zerg wins</th>
                        <th scope="col">XP Zerg</th>
                        <th scope="col">Achievements</th>
                        </tr>
                    </thead>
                    <% BattlenetOauthService.ottieniProfilo(session[:access_token], session[:uid])%>
                    <% statistiche = Stat.find_by(uid: session[:uid]) %>
                    <% if statistiche!= nil%>
                        <tbody class="table-group-divider">
                            <tr class="table-light">
                            <td><%= statistiche.careerTotalGames %></td>
                            <td><%= statistiche.seasonTotalGames %></td>
                            <td><%= statistiche.highest1v1Rank %></td>
                            <td><%= statistiche.terranWins %></td>
                            <td><%= statistiche.totalLevelXPTerran %></td>
                            <td><%= statistiche.protossWins %></td>
                            <td><%= statistiche.totalLevelXPProtoss %></td>
                            <td><%= statistiche.zergWins %></td>
                            <td><%= statistiche.totalLevelXPZerg %></td>
                            <td><%= statistiche.totalPointsAchievements %></td>
                            </tr>
                        </tbody>
                    <% else %>
                        <div class="alert alert-danger" role="alert">
                            L'utente non ha un account per questo gioco
                            <button type="button" class="btn-close position-absolute end-0" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <tbody class="table-group-divider">
                            <tr class="table-light">
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            </tr>
                        </tbody>
                    <% end %>
                </table>
                <table class="table table-dark table-striped-columns">
                    <thead>
                        <tr>
                        <th scope="col">Games 1vs1</th>
                        <th scope="col">Wins 1vs1</th>
                        <th scope="col">Games 2vs2</th>
                        <th scope="col">Wins 2vs2</th>
                        <th scope="col">Games 3vs3</th>
                        <th scope="col">Wins 3vs3</th>
                        <th scope="col">Games 4vs4</th>
                        <th scope="col">Wins 4vs4</th>
                        <th scope="col">Games Archon</th>
                        <th scope="col">Wins Archon</th>
                        </tr>
                    </thead>
                    <% if statistiche!= nil%>
                        <tbody class="table-group-divider">
                            <tr class="table-light">
                            <td><%= statistiche.games1vs1 %></td>
                            <td><%= statistiche.wins1vs1 %></td>
                            <td><%= statistiche.games2vs2 %></td>
                            <td><%= statistiche.wins2vs2 %></td>
                            <td><%= statistiche.games3vs3 %></td>
                            <td><%= statistiche.wins3vs3 %></td>
                            <td><%= statistiche.games4vs4 %></td>
                            <td><%= statistiche.wins4vs4 %></td>
                            <td><%= statistiche.gamesArchon %></td>
                            <td><%= statistiche.winsArchon %></td>
                            </tr>
                        </tbody>
                    <% else %>
                        <tbody class="table-group-divider">
                            <tr class="table-light">
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            </tr>
                        </tbody>
                    <% end %>
                </table>
            </div>
        </div>
        <br>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div class="card text-center" style="background-color: #ffffffb3;">
                        <div class="card-header">
                            STATISTICHE UTENTI
                        </div>
                        <div class="card-body">
                            <table class="table table-dark table-striped-columns">
                                <thead>
                                    <tr>
                                    <th scope="col">STATISTICA 1</th>
                                    <th scope="col">STATISTICA 2</th>
                                    <th scope="col">STATISTICA 3</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <tr class="table-light">
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center" style="background-color: #ffffffb3;">
                        <div class="card-header">
                            CLASSIFICA TEAM
                        </div>
                        <div class="card-body">
                            <table class="table table-dark table-striped-columns">
                                <thead>
                                    <tr>
                                    <th scope="col">STATISTICA 1</th>
                                    <th scope="col">STATISTICA 2</th>
                                    <th scope="col">STATISTICA 3</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <tr class="table-light">
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container" style="display: flex; justify-content: center;">
            <div class="card text-center" style="width: 50vw; background-color: #ffffffb3;">
                <div class="card-header">
                    TEAM DI CUI FAI PARTE
                </div>
                <div class="card-body">
                    <table class="table table-dark table-striped-columns">
                        <thead>
                            <tr>
                            <th scope="col">NOME TEAM</th>
                            <th scope="col" style="width: 25vw">VUOI ABBANDONARE IL TEAM ?</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr class="table-light">
                            <td>1</td>
                            <td style="width: 25vw"><button type="button" class="btn btn-danger">Abbandona</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
    <% end %>
    <% if current_user.teamLeader? ||  current_user.teamLeaderAbbonato? %>
        <div class="card text-center" style="background-color: #ffffffb3;">
            <div class="card-header">
                STATISTICHE TEAM
            </div>
            <div class="card-body">
                <table class="table table-dark table-striped-columns">
                    <thead>
                        <tr>
                        <th scope="col">Nome TEAM</th>
                        <th scope="col">STATISTICA 1</th>
                        <th scope="col">STATISTICA 2</th>
                        <th scope="col">STATISTICA 3</th>
                        <th scope="col">STATISTICA 4</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr class="table-light">
                        <th scope="row">1</th>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="container" style="display: flex; justify-content: center;">
            <button type="button" class="btn " style="width:30vw; background-color: #4682b4; "><%= link_to 'i tuoi team', teams_path, style:"color:white;", class:"link-offset-2 link-underline link-underline-opacity-0" %></button>
        </div>
        <br>
    <% end %>
    
    <% if current_user.teamLeaderAbbonato? %>
        
    <% end %>
<% end %>