

<%= form_with(model: preferito) do |form| %>
  <% if preferito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preferito.errors.count, "error") %> prohibited this preferito from being saved:</h2>

      <ul>
        <% preferito.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= form.text_field :mitt_id, value: current_user.uid, class:"form-control", readonly: true, style:"max-width: 400px;", type: :hidden%>
  </div>

  <div class="field">
    <%= form.label :nome, class:"form-label" %>
    <%= form.text_field :nome_dest, class:"form-control", style:"max-width: 400px;", required: true %>
  </div>

  <div class="field">
    <%= form.label :uid, class:"form-label" %>
    <%= form.text_field :dest_id, class:"form-control", style:"max-width: 400px;", required: true %>
  </div>
  <br>
   <div class="container" style="display: flex; justify-content: center;">
    <div class="actions">
      <%= form.submit "Submit", class: "btn btn-dark", onclick: "mostra(); event.preventDefault(); form.submit();" %>
    </div>
  </div>
<% end %>

<script>
    function mostra(){
        document.getElementById("loadingScreen").style.display = "flex";
        //window.location.href = "/personstats";
    }
</script>