<p id="notice"><%= notice %></p>

<h1>Stats</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Region</th>
      <th>Realm</th>
      <th>Displayname</th>
      <th>Clanname</th>
      <th>Clantag</th>
      <th>Profilepath</th>
      <th>Primaryrace</th>
      <th>Terranwins</th>
      <th>Protosswins</th>
      <th>Zergwins</th>
      <th>Highest1v1rank</th>
      <th>Highestteamrank</th>
      <th>Seasontotalgames</th>
      <th>Careertotalgames</th>
      <th>Level</th>
      <th>Levelterran</th>
      <th>Totallevelxpterran</th>
      <th>Currentlevelxpterran</th>
      <th>Levelzerg</th>
      <th>Totallevelxpzerg</th>
      <th>Currentlevelxpzerg</th>
      <th>Levelprotoss</th>
      <th>Totallevelxpprotoss</th>
      <th>Currentlevelxpprotoss</th>
      <th>Seasonid</th>
      <th>Seasonnumber</th>
      <th>Seasonyear</th>
      <th>Totalgamesthisseason</th>
      <th>Wins1vs1</th>
      <th>Games1vs1</th>
      <th>Wins2vs2</th>
      <th>Games2vs2</th>
      <th>Wins3vs3</th>
      <th>Games3vs3</th>
      <th>Wins4vs4</th>
      <th>Games4vs4</th>
      <th>Winsarchon</th>
      <th>Gamesarchon</th>
      <th>Totalpointsachievements</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stats.each do |stat| %>
      <tr>
        <td><%= stat.id %></td>
        <td><%= stat.region %></td>
        <td><%= stat.realm %></td>
        <td><%= stat.displayName %></td>
        <td><%= stat.clanName %></td>
        <td><%= stat.clanTag %></td>
        <td><%= stat.profilePath %></td>
        <td><%= stat.primaryRace %></td>
        <td><%= stat.terranWins %></td>
        <td><%= stat.protossWins %></td>
        <td><%= stat.zergWins %></td>
        <td><%= stat.highest1v1Rank %></td>
        <td><%= stat.highestTeamRank %></td>
        <td><%= stat.seasonTotalGames %></td>
        <td><%= stat.careerTotalGames %></td>
        <td><%= stat.level %></td>
        <td><%= stat.levelTerran %></td>
        <td><%= stat.totalLevelXPTerran %></td>
        <td><%= stat.currentLevelXPTerran %></td>
        <td><%= stat.levelZerg %></td>
        <td><%= stat.totalLevelXPZerg %></td>
        <td><%= stat.currentLevelXPZerg %></td>
        <td><%= stat.levelProtoss %></td>
        <td><%= stat.totalLevelXPProtoss %></td>
        <td><%= stat.currentLevelXPProtoss %></td>
        <td><%= stat.seasonId %></td>
        <td><%= stat.seasonNumber %></td>
        <td><%= stat.seasonYear %></td>
        <td><%= stat.totalGamesThisSeason %></td>
        <td><%= stat.wins1vs1 %></td>
        <td><%= stat.games1vs1 %></td>
        <td><%= stat.wins2vs2 %></td>
        <td><%= stat.games2vs2 %></td>
        <td><%= stat.wins3vs3 %></td>
        <td><%= stat.games3vs3 %></td>
        <td><%= stat.wins4vs4 %></td>
        <td><%= stat.games4vs4 %></td>
        <td><%= stat.winsArchon %></td>
        <td><%= stat.gamesArchon %></td>
        <td><%= stat.totalPointsAchievements %></td>
        <td><%= link_to 'Show', stat %></td>
        <td><%= link_to 'Edit', edit_stat_path(stat) %></td>
        <td><%= link_to 'Destroy', stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stat', new_stat_path %>
