<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @stat.id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @stat.number %>
</p>

<p>
  <strong>Preferredslot:</strong>
  <%= @stat.preferredSlot %>
</p>

<p>
  <strong>Givenname:</strong>
  <%= @stat.givenName %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stat.name %>
</p>

<p>
  <strong>Familyname:</strong>
  <%= @stat.familyName %>
</p>

<p>
  <strong>Role:</strong>
  <%= @stat.role %>
</p>

<p>
  <strong>Headshoturl:</strong>
  <%= @stat.headshotUrl %>
</p>

<p>
  <strong>Eroe:</strong>
  <%= @stat.eroe %>
</p>

<p>
  <strong>Abilitydamagedone:</strong>
  <%= @stat.abilityDamageDone %>
</p>

<p>
  <strong>Accretionkills:</strong>
  <%= @stat.accretionKills %>
</p>

<p>
  <strong>Amplificationmatrixassists:</strong>
  <%= @stat.amplificationMatrixAssists %>
</p>

<p>
  <strong>Barragekills:</strong>
  <%= @stat.barrageKills %>
</p>

<p>
  <strong>Bioticgrenadekills:</strong>
  <%= @stat.bioticGrenadeKills %>
</p>

<p>
  <strong>Blizzardkills:</strong>
  <%= @stat.blizzardKills %>
</p>

<p>
  <strong>Bobkills:</strong>
  <%= @stat.bobKills %>
</p>

<p>
  <strong>Carnagekills:</strong>
  <%= @stat.carnageKills %>
</p>

<p>
  <strong>Chainhooksattempted:</strong>
  <%= @stat.chainHooksAttempted %>
</p>

<p>
  <strong>Chargedshotkills:</strong>
  <%= @stat.chargedShotKills %>
</p>

<p>
  <strong>Coalescensehealing:</strong>
  <%= @stat.coalescenseHealing %>
</p>

<p>
  <strong>Concussionminekills:</strong>
  <%= @stat.concussionMineKills %>
</p>

<p>
  <strong>Criticalhits:</strong>
  <%= @stat.criticalHits %>
</p>

<p>
  <strong>Damageamplified:</strong>
  <%= @stat.damageAmplified %>
</p>

<p>
  <strong>Damageblockedsojurn:</strong>
  <%= @stat.damageBlockedSojurn %>
</p>

<p>
  <strong>Damagediscordorb:</strong>
  <%= @stat.damageDiscordOrb %>
</p>

<p>
  <strong>Damagetaken:</strong>
  <%= @stat.damageTaken %>
</p>

<p>
  <strong>Deadeyekills:</strong>
  <%= @stat.deadeyeKills %>
</p>

<p>
  <strong>Deathblossomkills:</strong>
  <%= @stat.deathBlossomKills %>
</p>

<p>
  <strong>Deaths:</strong>
  <%= @stat.deaths %>
</p>

<p>
  <strong>Dragonbladekills:</strong>
  <%= @stat.dragonbladeKills %>
</p>

<p>
  <strong>Dragonstrikekills:</strong>
  <%= @stat.dragonstrikeKills %>
</p>

<p>
  <strong>Earthshatterkills:</strong>
  <%= @stat.earthshatterKills %>
</p>

<p>
  <strong>Earthshatterstuns:</strong>
  <%= @stat.earthshatterStuns %>
</p>

<p>
  <strong>Eliminations:</strong>
  <%= @stat.eliminations %>
</p>

<p>
  <strong>Enemieschainhooked:</strong>
  <%= @stat.enemiesChainHooked %>
</p>

<p>
  <strong>Enemiesempd:</strong>
  <%= @stat.enemiesEMPd %>
</p>

<p>
  <strong>Enemiesfrozen:</strong>
  <%= @stat.enemiesFrozen %>
</p>

<p>
  <strong>Enemieshacked:</strong>
  <%= @stat.enemiesHacked %>
</p>

<p>
  <strong>Enemiesslept:</strong>
  <%= @stat.enemiesSlept %>
</p>

<p>
  <strong>Energymax:</strong>
  <%= @stat.energyMax %>
</p>

<p>
  <strong>Finalblows:</strong>
  <%= @stat.finalBlows %>
</p>

<p>
  <strong>Focusingbeamkills:</strong>
  <%= @stat.focusingBeamKills %>
</p>

<p>
  <strong>Graviticfluxkills:</strong>
  <%= @stat.graviticFluxKills %>
</p>

<p>
  <strong>Gravitonsurgekills:</strong>
  <%= @stat.gravitonSurgeKills %>
</p>

<p>
  <strong>Healingdone:</strong>
  <%= @stat.healingDone %>
</p>

<p>
  <strong>Helixrocketkills:</strong>
  <%= @stat.helixRocketKills %>
</p>

<p>
  <strong>Herodamagedone:</strong>
  <%= @stat.heroDamageDone %>
</p>

<p>
  <strong>Immortalityfielddeathsprevented:</strong>
  <%= @stat.immortalityFieldDeathsPrevented %>
</p>

<p>
  <strong>Inspireuptime:</strong>
  <%= @stat.inspireUptime %>
</p>

<p>
  <strong>Jaggedbladekills:</strong>
  <%= @stat.jaggedBladeKills %>
</p>

<p>
  <strong>Javelindamage:</strong>
  <%= @stat.javelinDamage %>
</p>

<p>
  <strong>Jumppackkills:</strong>
  <%= @stat.jumpPackKills %>
</p>

<p>
  <strong>Kitsunerushassists:</strong>
  <%= @stat.kitsuneRushAssists %>
</p>

<p>
  <strong>Knockbackkills:</strong>
  <%= @stat.knockbackKills %>
</p>

<p>
  <strong>Kunaikills:</strong>
  <%= @stat.kunaiKills %>
</p>

<p>
  <strong>Lifetimeenergyaccumulation:</strong>
  <%= @stat.lifetimeEnergyAccumulation %>
</p>

<p>
  <strong>Meteorstrikekills:</strong>
  <%= @stat.meteorStrikeKills %>
</p>

<p>
  <strong>Moltencorekills:</strong>
  <%= @stat.moltenCoreKills %>
</p>

<p>
  <strong>Negativeeffectscleansed:</strong>
  <%= @stat.negativeEffectsCleansed %>
</p>

<p>
  <strong>Overclockkills:</strong>
  <%= @stat.overclockKills %>
</p>

<p>
  <strong>Overhealthprovided:</strong>
  <%= @stat.overhealthProvided %>
</p>

<p>
  <strong>Piledriverkills:</strong>
  <%= @stat.piledriverKills %>
</p>

<p>
  <strong>Playersknockedback:</strong>
  <%= @stat.playersKnockedBack %>
</p>

<p>
  <strong>Playersresurrected:</strong>
  <%= @stat.playersResurrected %>
</p>

<p>
  <strong>Playersteleported:</strong>
  <%= @stat.playersTeleported %>
</p>

<p>
  <strong>Primalragekills:</strong>
  <%= @stat.primalRageKills %>
</p>

<p>
  <strong>Pulsebombkills:</strong>
  <%= @stat.pulseBombKills %>
</p>

<p>
  <strong>Pulsebombsattached:</strong>
  <%= @stat.pulseBombsAttached %>
</p>

<p>
  <strong>Riptirekills:</strong>
  <%= @stat.ripTireKills %>
</p>

<p>
  <strong>Rocketdirecthits:</strong>
  <%= @stat.rocketDirectHits %>
</p>

<p>
  <strong>Scopedcriticalhitkills:</strong>
  <%= @stat.scopedCriticalHitKills %>
</p>

<p>
  <strong>Scopedcriticalhits:</strong>
  <%= @stat.scopedCriticalHits %>
</p>

<p>
  <strong>Scopedhits:</strong>
  <%= @stat.scopedHits %>
</p>

<p>
  <strong>Selfdestructkills:</strong>
  <%= @stat.selfdestructKills %>
</p>

<p>
  <strong>Shotshit:</strong>
  <%= @stat.shotsHit %>
</p>

<p>
  <strong>Solokills:</strong>
  <%= @stat.soloKills %>
</p>

<p>
  <strong>Stickybombskills:</strong>
  <%= @stat.stickyBombsKills %>
</p>

<p>
  <strong>Stormarrowkills:</strong>
  <%= @stat.stormArrowKills %>
</p>

<p>
  <strong>Tacticalvisorkills:</strong>
  <%= @stat.tacticalVisorKills %>
</p>

<p>
  <strong>Terrasurgekills:</strong>
  <%= @stat.terraSurgeKills %>
</p>

<p>
  <strong>Timeplayed:</strong>
  <%= @stat.timePlayed %>
</p>

<p>
  <strong>Timespentonfire:</strong>
  <%= @stat.timeSpentOnFire %>
</p>

<p>
  <strong>Turretkills:</strong>
  <%= @stat.turretKills %>
</p>

<p>
  <strong>Ultimatesnegated:</strong>
  <%= @stat.ultimatesNegated %>
</p>

<p>
  <strong>Ultsearned:</strong>
  <%= @stat.ultsEarned %>
</p>

<p>
  <strong>Ultsused:</strong>
  <%= @stat.ultsUsed %>
</p>

<p>
  <strong>Wholehogkills:</strong>
  <%= @stat.wholeHogKills %>
</p>

<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
