<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @stat.uid %>
</p>

<p>
  <strong>Region:</strong>
  <%= @stat.region %>
</p>

<p>
  <strong>Realm:</strong>
  <%= @stat.realm %>
</p>

<p>
  <strong>Displayname:</strong>
  <%= @stat.displayName %>
</p>

<p>
  <strong>Clanname:</strong>
  <%= @stat.clanName %>
</p>

<p>
  <strong>Clantag:</strong>
  <%= @stat.clanTag %>
</p>

<p>
  <strong>Profilepath:</strong>
  <%= @stat.profilePath %>
</p>

<p>
  <strong>Primaryrace:</strong>
  <%= @stat.primaryRace %>
</p>

<p>
  <strong>Terranwins:</strong>
  <%= @stat.terranWins %>
</p>

<p>
  <strong>Protosswins:</strong>
  <%= @stat.protossWins %>
</p>

<p>
  <strong>Zergwins:</strong>
  <%= @stat.zergWins %>
</p>

<p>
  <strong>Highest1v1rank:</strong>
  <%= @stat.highest1v1Rank %>
</p>

<p>
  <strong>Highestteamrank:</strong>
  <%= @stat.highestTeamRank %>
</p>

<p>
  <strong>Seasontotalgames:</strong>
  <%= @stat.seasonTotalGames %>
</p>

<p>
  <strong>Careertotalgames:</strong>
  <%= @stat.careerTotalGames %>
</p>

<p>
  <strong>Level:</strong>
  <%= @stat.level %>
</p>

<p>
  <strong>Levelterran:</strong>
  <%= @stat.levelTerran %>
</p>

<p>
  <strong>Totallevelxpterran:</strong>
  <%= @stat.totalLevelXPTerran %>
</p>

<p>
  <strong>Currentlevelxpterran:</strong>
  <%= @stat.currentLevelXPTerran %>
</p>

<p>
  <strong>Levelzerg:</strong>
  <%= @stat.levelZerg %>
</p>

<p>
  <strong>Totallevelxpzerg:</strong>
  <%= @stat.totalLevelXPZerg %>
</p>

<p>
  <strong>Currentlevelxpzerg:</strong>
  <%= @stat.currentLevelXPZerg %>
</p>

<p>
  <strong>Levelprotoss:</strong>
  <%= @stat.levelProtoss %>
</p>

<p>
  <strong>Totallevelxpprotoss:</strong>
  <%= @stat.totalLevelXPProtoss %>
</p>

<p>
  <strong>Currentlevelxpprotoss:</strong>
  <%= @stat.currentLevelXPProtoss %>
</p>

<p>
  <strong>Seasonid:</strong>
  <%= @stat.seasonId %>
</p>

<p>
  <strong>Seasonnumber:</strong>
  <%= @stat.seasonNumber %>
</p>

<p>
  <strong>Seasonyear:</strong>
  <%= @stat.seasonYear %>
</p>

<p>
  <strong>Totalgamesthisseason:</strong>
  <%= @stat.totalGamesThisSeason %>
</p>

<p>
  <strong>Wins1vs1:</strong>
  <%= @stat.wins1vs1 %>
</p>

<p>
  <strong>Games1vs1:</strong>
  <%= @stat.games1vs1 %>
</p>

<p>
  <strong>Wins2vs2:</strong>
  <%= @stat.wins2vs2 %>
</p>

<p>
  <strong>Games2vs2:</strong>
  <%= @stat.games2vs2 %>
</p>

<p>
  <strong>Wins3vs3:</strong>
  <%= @stat.wins3vs3 %>
</p>

<p>
  <strong>Games3vs3:</strong>
  <%= @stat.games3vs3 %>
</p>

<p>
  <strong>Wins4vs4:</strong>
  <%= @stat.wins4vs4 %>
</p>

<p>
  <strong>Games4vs4:</strong>
  <%= @stat.games4vs4 %>
</p>

<p>
  <strong>Winsarchon:</strong>
  <%= @stat.winsArchon %>
</p>

<p>
  <strong>Gamesarchon:</strong>
  <%= @stat.gamesArchon %>
</p>

<p>
  <strong>Totalpointsachievements:</strong>
  <%= @stat.totalPointsAchievements %>
</p>

<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
